@import "grilla";

/*Variables*/
$text-align: Center;
$font-family: 'Mulish', sans-serif;


img {
    width: 100%;
    height: auto;
}
/*Nesting*/

.navbar-brand {
    font-family: $font-family;
    font-family: $font-family;
    font-size: x-large;
    transform: translate(10px, 4px);
    height: 50px;
    transition: height 2s;
        
        &:hover {
        height: 80px;
    }
}
.nav-link {
        font-family: $font-family;
        font-family: $font-family;
        transform: translate(150px, 4px);
}
.col {
    text-align: $text-align;
    font-family: $font-family;
    font-size: 1em;
}
.mb-3 {
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 5em;
}
.btn {
    margin-top: 3em;
}
.Resumen-Samuel {
    margin-left: auto;
    text-align: $text-align;
    justify-content: center;
    grid-column: 1;
    grid-row: 3;
    font-size: medium;
    font-family: $font-family;
    font-family: $font-family;
    font-size: 1em;
}
.imagenes-de-Banner1 {
    height: auto;
    width: auto;
    grid-column: 2;
    grid-row: 1;
}
.imagenes-de-Banner2 {
    height: auto;
    width: auto;
    grid-column: 2;
    grid-row: 2;
}
.imagenes-de-Banner3 {
    height: auto;
    width: auto;
    grid-column: 2;
    grid-row: 3;
}
.imagenes-de-Banner4 {
    height: auto;
    width: auto;
    grid-column: 2;
    grid-row: 4;
}